In [1]:
# Retrieve

import os
import pandas as pd

current_dir = os.getcwd()
relative_path = "CBR_Spillway Gates Decision.xlsx"

file_path = os.path.join(current_dir, relative_path)
data = pd.read_excel(file_path)
data

   Case  Dam Water Level  Sg. Pahang  Sg. Soi  Sg. Pekan  Sg. Gambang   Gate
0     1            29.26       11.06    30.40      15.99        23.00   Open
1     2            28.99       13.09    29.01      17.09        20.99  Close
2     3            29.50       12.89    20.99      21.99        21.09  Close
3     4            27.01       10.11    27.89      11.09        19.22   Open

In [2]:
# Reuse (Range)

attributes = []
ranges = []

for column in data:
    if data[column].dtype != object and column != 'Case':
        attributes.append(column)
        column_range = max(data[column]) - min(data[column])
        ranges.append(round(column_range, 2))
        
ranges

[2.49, 2.98, 9.41, 10.9, 3.78]

In [3]:
# Reuse (Local Similarity)

new = []

# Prompt user to enter the values for new case
for i in range(len(attributes)):
    new_case = float(input(f"Enter the value for {attributes[i]}: "))
    new.append(new_case)
    
local_similarities = []

for j in range(len(data.index)):
    local_sim_case = []  # List to store local similarity values for each case
    
    for i in range(len(new)):
        local_sim_attribute = 1 - (abs(new[i] - data[attributes[i]][j]) / ranges[i])
        local_sim_case.append(round(local_sim_attribute, 4))
    
    local_similarities.append(local_sim_case)

local_similarities

Enter the value for Dam Water Level: 29.50
Enter the value for Sg. Pahang: 12
Enter the value for Sg. Soi: 20.00
Enter the value for Sg. Pekan: 22
Enter the value for Sg. Gambang: 20

[[0.9036, 0.6846, -0.1052, 0.4486, 0.2063],
 [0.7952, 0.6342, 0.0425, 0.5495, 0.7381],
 [1.0, 0.7013, 0.8948, 0.9991, 0.7116],
 [0.0, 0.3658, 0.1615, -0.0009, 0.7937]]

In [4]:
# Reuse (Global Similarity)

weight = [1, 2, 1, 2, 1]
weight_total = sum(weight)

global_similarities = []

for i in range(len(local_similarities)):
    global_sim_case = (1/weight_total) * sum(weight[j] * local_similarities[i][j] for j in range(len(weight)))
    global_similarities.append(round(global_sim_case, 4))
    
print(global_similarities)

max_gs = max(global_similarities)
print("Max GS:", max_gs)

corresponding_row = global_similarities.index(max_gs)
solution = data.loc[corresponding_row, "Gate"]
print("Corresponding Case:", corresponding_row+1)
print("Solution:", solution)

[0.4673, 0.5633, 0.8582, 0.2407]
Max GS: 0.8582
Corresponding Case: 3
Solution: Close

In [5]:
# Revise

In [6]:
# Retain

case_no = len(data.index) + 1
new_row = pd.DataFrame([[case_no, *new, "Close"]], columns=data.columns)

data = pd.concat([data, new_row], ignore_index=True)
data.to_excel(file_path, index=False)
data

   Case  Dam Water Level  Sg. Pahang  Sg. Soi  Sg. Pekan  Sg. Gambang   Gate
0     1            29.26       11.06    30.40      15.99        23.00   Open
1     2            28.99       13.09    29.01      17.09        20.99  Close
2     3            29.50       12.89    20.99      21.99        21.09  Close
3     4            27.01       10.11    27.89      11.09        19.22   Open
4     5            29.50       12.00    20.00      22.00        20.00  Close